<html>
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
<head lang="en">
    <meta charset="UTF-8">
    <title>Forget Me Not</title>
</head>
    <body style="font-family: 'Source Sans Pro', sans-serif; background-image: url('https://media.giphy.com/media/jxTnOS8Mkv8n6/giphy.gif'); background-size: 10%;">
        <div id="wrapper" style="background: #ffffff; border-style: solid; border-width: 3pt; border-color: #000000; width: 50%; margin-left: 10%; padding: 15px;">
            <h1>forget me not.</h1>
            <form action="/birthday_post">
                <h3>post the messages to the following...</h3>
                <div style="margin-left:15px;">
                    <input type="checkbox" name="platform" value="facebook" style="margin:5px;">Facebook
                    <input type="checkbox" name="platform" value="twitter" style="margin:5px;">Twitter
                    <input type="checkbox" name="platform" value="instagram" style="margin:5px;">Instagram<br>
                </div>
                <h3>choose your message...</h3>
                <div style="margin-left: 15px;">
                    <input type="radio" name="template" value="Happy Birthday!!" style="padding: 5px;">Happy Birthday!!<br>
                    <input type="radio" name="template" value="happy birthday bruh" style="padding: 5px;">happy birthday bruh<br>
                    <input type="radio" name="template" value="drinks tonight! happy birthday" style="padding: 5px;">drinks tonight! happy birthday!<br>
                    <input type="radio" name="template" value="Happy Birthday! Just one more year and you'll be perfect! Yes, I did say that last year." style="padding: 5px;">Happy Birthday! Just one more year and you'll be perfect! Yes, I did say that last year.<br>
                    <input type="radio" name="template" value="squaaaaaad" style="padding: 5px;">squaaaaaad<br>
                    <input type="radio" name="template" value="That's one year in the ground." style="padding: 5px;">That's one year in the ground.<br>
                    <input type="radio" name="template" value="ERMAGHERD! HERPY BERDAY" style="padding: 5px;">ERMAGHERD! HERPY BERDAY<br>
                    <input type="radio" name="template" value="Congrats :D" style="padding: 5px;">Congrats :D<br>
                </div>
                <input type="submit" value="Save" style="margin-top:10px; border-style: solid; border-color: #000000; background-color: #ffffff">
            </form>
            <br>
            <img src="http://www.gifs.net/Animation11/Webdesign_Elements/Counters/red_counter.gif"/>
        </div>
    </body>
</html>