<html>
    <body>
        <h1>Forget Me Not!</h1>
        <form>
            <h3>Post the messages to the following...</h3>
            <input type="checkbox" name="platform" value="facebook">Facebook
            <input type="checkbox" name="platform" value="twitter">Twitter
            <input type="checkbox" name="platform" value="instagram">Instagram</br>
            <h3>Choose one or more messages...</h3>
            <input type="checkbox" name="template" value="Happy Birthday!!">Happy Birthday!!</br>
            <input type="checkbox" name="template" value="happy birthday bruh">happy birthday bruh</br>
            <input type="checkbox" name="template" value="drinks tonight! happy birthday">drinks tonight! happy birthday!</br>
            <input type="checkbox" name="template" value="Happy Birthday! Just one more year and you'll be perfect! Yes, I did say that last year.">Happy Birthday! Just one more year and you'll be perfect! Yes, I did say that last year.</br>
            Use custom: <input type="text" name="template" value="custom"></br>
            <input type="submit">Save
        </form>
    </body>
</html>